apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "postgresql-operator.dev4devs.com/v1alpha1",
          "kind": "Postgresql",
          "metadata": {
            "name": "postgresql"
          },
          "spec": {
            "containerName": "database",
            "databaseMemoryLimit": "512Mi",
            "databaseMemoryRequest": "512Mi",
            "databaseName": "solution-database-name",
            "databaseNameParam": "POSTGRESQL_DATABASE",
            "databasePassword": "postgres",
            "databasePasswordParam": "POSTGRESQL_PASSWORD",
            "databasePort": 5432,
            "databaseStorageRequest": "1Gi",
            "databaseUser": "postgresql",
            "databaseUserParam": "POSTGRESQL_USER",
            "image": "centos/postgresql-96-centos7",
            "size": 1
          }
        },
        {
          "apiVersion": "postgresql-operator.dev4devs.com/v1alpha1",
          "kind": "Backup",
          "metadata": {
            "name": "backup"
          },
          "spec": {
            "awsAccessKeyId": "example-awsAccessKeyId",
            "awsS3BucketName": "example-awsS3BucketName",
            "awsSecretAccessKey": "example-awsSecretAccessKey",
            "databaseVersion": "9.6",
            "image": "quay.io/integreatly/backup-container:1.0.8",
            "productName": "postgresql",
            "schedule": "0 0 * * *"
          }
        }
      ]
    capabilities: Basic Install
  name: postgresql-operator.v0.0.1
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions: {}
  description: Placeholder description
  displayName: Postgresql Operator
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - '*'
          resources:
          - '*'
          verbs:
          - get
          - list
        - apiGroups:
          - ""
          resources:
          - pods/exec
          verbs:
          - create
        - apiGroups:
          - ""
          resources:
          - deployments
          - daemonsets
          - replicasets
          - statefulsets
          - serviceaccounts
          - rolebindings
          - pods
          - services
          - services/finalizers
          - endpoints
          - persistentvolumeclaims
          - events
          - configmaps
          - secrets
          verbs:
          - '*'
        - apiGroups:
          - batch
          resources:
          - cronjobs
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - apps
          resources:
          - deployments
          - daemonsets
          - replicasets
          - statefulsets
          verbs:
          - '*'
        - apiGroups:
          - monitoring.coreos.com
          resources:
          - servicemonitors
          verbs:
          - get
          - create
        - apiGroups:
          - apps
          resourceNames:
          - postgresql-operator
          - postgresql
          - backup
          resources:
          - deployments/finalizers
          verbs:
          - update
        - apiGroups:
          - ""
          resources:
          - pods
          verbs:
          - get
        - apiGroups:
          - apps
          resources:
          - replicasets
          verbs:
          - get
        - apiGroups:
          - postgresql-operator.dev4devs.com
          resources:
          - '*'
          - backups
          verbs:
          - '*'
        serviceAccountName: postgresql-operator
      deployments:
      - name: postgresql-operator
        spec:
          replicas: 1
          selector:
            matchLabels:
              name: postgresql-operator
          strategy: {}
          template:
            metadata:
              labels:
                name: postgresql-operator
            spec:
              containers:
              - command:
                - postgresql-operator
                env:
                - name: WATCH_NAMESPACE
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.annotations['olm.targetNamespaces']
                - name: POD_NAME
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.name
                - name: OPERATOR_NAME
                  value: postgresql-operator
                image: quay.io/dev4devs-com/postgresql-operator:master
                imagePullPolicy: Always
                name: postgresql-operator
                resources: {}
              serviceAccountName: postgresql-operator
    strategy: deployment
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: true
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  maturity: alpha
  provider: {}
  version: 0.0.1
